<div class="authform">
  <h3>Edit Account</h3>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f| %>
  <%= devise_error_messages! %>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for:
      <%= resource.unconfirmed_email %></div>
    <% end %>
  </div>
  <fieldset>
    <p>Leave these fields blank if you don't want to change your password.</p>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, :autocomplete => 'off', class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </div>
  </fieldset>
  <fieldset>
    <p>You must enter your current password to make changes.</p>
    <div class="form-group">
      <%= f.label :current_password %>
      <%= f.password_field :current_password, class: 'form-control' %>
    </div>
  </fieldset>
  <%= f.submit 'Update Account', :class => 'button' %>
  <% end %>

  <% if current_user_subscribed? %>
  <h3>Credit Card</h3>
  <fieldset>
    <fieldset>
      <p>Your current card on file is:</p>
      <div>
        <%= current_user.card_brand %>
        **** **** **** <%= current_user.card_last_four %>
      </div>
      <div>Expires <%= current_user.card_exp_month %> / <%= current_user.card_exp_year %></div>
    </fieldset>

    <%= form_tag card_path, method: :put, id: 'payment-form' do %>
      <span class="payment-errors"></span>

      <div class="form-row">
        <label>
          <span>Card Number</span>
          <input type="text" size="20" data-stripe="number" placeholder="4242 4242 4242 4242" value="<%= card_value :number %>"/>
        </label>
      </div>

      <div class="form-row">
        <label>
          <span>CVC</span>
          <input type="text" size="3" maxlength="3" data-stripe="cvc" placeholder="123" value="<%= card_value :cvc %>"/>
        </label>
      </div>

      <div class="form-row">
        <label>
          <span>Expiration</span>
          <span class="">
            <input type="text" size="2" maxlength="2" data-stripe="exp-month" placeholder="MM" value="<%= card_value :month %>"/>
            <span> / </span>
            <input type="text" size="4" maxlength="4" data-stripe="exp-year" placeholder="YYYY" value="<%= card_value :year %>"/>
          </span>
        </label>
      </div>

      <button type="submit" class="btn btn-primary">Update Credit Card</button>
    <% end %>

  </fieldset>
  <% end %>

  <h3>Cancel Account</h3>
  <fieldset>
    <p>Unhappy? We'll be sad to see you go.</p>
    <%= button_to "Cancel my account", subscription_path, style: 'width:100%', :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button' %>
  </fieldset>
</div>
