<% card = {
  number: "4242 4242 4242 4242",
  cvc: "123",
  expiration: {
    month: "12",
    year: "2020"
  }
} %>

<%= form_tag subscription_path, id: 'payment-form' do %>
  <span class="payment-errors"></span>

  <div class="form-row">
    <label>
      <span>Card Number</span>
      <input type="text" size="20" data-stripe="number" value="<%= card[:number] if Rails.env.development? %>"/>
    </label>
  </div>

  <div class="form-row">
    <label>
      <span>CVC</span>
      <input type="text" size="4" data-stripe="cvc" value="<%= card[:cvc] if Rails.env.development? %>"/>
    </label>
  </div>

  <div class="form-row">
    <label>
      <span>Expiration (MM/YYYY)</span>
      <input type="text" size="2" data-stripe="exp-month" value="<%= card[:expiration][:month] if Rails.env.development? %>"/>
      <span> / </span>
      <input type="text" size="4" data-stripe="exp-year" value="<%= card[:expiration][:year] if Rails.env.development? %>"/>
    </label>
  </div>

  <button type="submit" class="btn btn-primary">Subscribe!</button>
<% end %>
