<%= form_tag resource, method: method, id: 'payment-form' do %>
  <span class="payment-errors"></span>

  <div class="form-row">
    <label>
      <span>Card Number</span>
      <input type="text" size="20" data-stripe="number" placeholder="4242 4242 4242 4242" value="<%= card_value :number %>"/>
    </label>
  </div>

  <div class="form-row">
    <label>
      <span>CVC</span>
      <input type="text" size="3" maxlength="3" data-stripe="cvc" placeholder="123" value="<%= card_value :cvc %>"/>
    </label>
  </div>

  <div class="form-row">
    <label>
      <span>Expiration</span>
      <span class="">
        <input type="text" size="2" maxlength="2" data-stripe="exp-month" placeholder="MM" value="<%= card_value :month %>"/>
        <span> / </span>
        <input type="text" size="4" maxlength="4" data-stripe="exp-year" placeholder="YYYY" value="<%= card_value :year %>"/>
      </span>
    </label>
  </div>

  <button type="submit" class="btn btn-primary">
    <%= submit_text rescue generate_submit_text(method) %>
  </button>
<% end %>
